img {
  position: absolute
}

.chou {
  width: 100px;
  transition: all 1s
}

#back img0 {
  left:0;
  top:0;
}

#bt0 {
  left:100px;
  top:200px;
}

#bt1 {
  left:300px;
  top:300px;
}

#bt2 {
  left:500px;
  top:250px;
}

#foo {
  width: 40px;
  left:500px;
  top:250px;
}

#back img1 {
  pointer-events: none;
}

#message {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 100px;
  left: 20px;
  top: 20px;
  background-color: rgb(255.255.255.0.4);
  font-size: 30px;
  color: red;
  padding: 20px;
  pointer-events: none;
}
